In [ ]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# Load intake csv and convert to a dataframe
intake_df = pd.read_csv('Resources/Austin_Animal_Center_Intakes.csv')
intake_df.head()

#kaggle datasets download -d aaronschlegel/austin-animal-center-shelter-intakes-and-outcomes

In [ ]:
# Update dataframe with only columns we care about 
intake_df = intake_df[['Animal ID','Name','DateTime','Intake Type','Intake Condition','Animal Type','Age upon Intake','Breed','Color']]
intake_df.head()

In [ ]:
# Rename columns so that they are easier to use in postgres
intake_df = intake_df.rename(columns ={'Animal ID': 'id',
             'Name': 'intake_name',
             'DateTime': 'intake_date',
             'Intake Type': 'intake_type',
             'Intake Condition': 'intake_condition',
             'Animal Type': 'animal_type',
             'Age upon Intake' :'intake_age',
             'Breed': 'breed',
             'Color': 'color'
             })
intake_df.head()

In [ ]:
#Rename columns so that they are easier to use in postgres
outcomes_df = pd.read_csv('Resources/Austin_Animal_Center_Outcomes.csv')
outcomes_df.head()

In [ ]:
# Update dataframe with columns we care about 
outcomes_df= outcomes_df [['Animal ID','Name','DateTime','Outcome Type','Age upon Outcome']]
outcomes_df.head()

In [ ]:
# Change names of columns so that they are easier to use with postgres
outcomes_df = outcomes_df.rename(columns ={'Animal ID': 'id',
                                         'Name' : 'outcome_name',
                                         'DateTime': 'outcome_date',
                                        'Outcome Type': 'outcome_type',
                                         'Age upon Outcome':'outcome_age'})
outcomes_df.head()

In [ ]:
# Connect to local postgres db
rds_connection_string = "postgres:<PASSWORD>@localhost:5432/Austin_Animal_Shelter"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
# Check that we have connected to appropriate db
engine.table_names()

In [ ]:
# Load transformed intake data to postgres
intake_df.to_sql(name = 'intakes', con = engine, if_exists='append', index =False)

In [ ]:
# Load transformed outcome data to postgres
outcomes_df.to_sql(name = 'outcomes' , con = engine, if_exists ='append', index = False)

In [ ]:
# Convert intake dates to datetime format and get only the date
intake_df['intake_date'] = pd.to_datetime(intake_df['intake_date'])
intake_df['only_date'] = [d.date() for d in intake_df['intake_date']]
# Convert only date to string
intake_df['only_date'] = intake_df['only_date'].astype('str')
# Look for animals that have been in the shelter this year 
intake_2019 = intake_df.loc[intake_df['only_date'] >= '2019-01-01']
intake_2019

In [ ]:
# Convert outcome dates to datetime formate and get only the date
outcomes_df['outcome_date'] = pd.to_datetime(outcomes_df['outcome_date'])
outcomes_df['only_date'] = [d.date() for d in outcomes_df['outcome_date']]
#Convert only date to string
outcomes_df['only_date'] = outcomes_df['only_date'].astype('str')
# Look for animals that have left the shelter this year 
outcomes_2019 = outcomes_df.loc[outcomes_df['only_date'] >= '2019-01-01']
outcomes_2019

In [ ]:
# Select relevant columns and add to Postgres
intake_2019 = intake_2019[['id','intake_name','intake_date','intake_type','intake_condition','animal_type','intake_age','breed','color']]
outcomes_2019 = outcomes_2019[['id','outcome_name','outcome_date','outcome_type','outcome_age']]
intake_2019.to_sql(name='intakes_2019', con=engine,if_exists='append',index=False)
outcomes_2019.to_sql(name='outcomes_2019', con=engine,if_exists='append',index=False)

In [ ]:
# Confirm join worked
joined_data.loc[joined_data['id'] == 'A784533']

In [ ]:
bymontyrcat = pd.read_sql_query("select substring(intake_date, 7,4) as Yr,\
	substring(intake_date, 1,2) as Month,\
	animal_type,\
	count(*) intakes \
from intakes \
group by substring(intake_date, 7, 4),\
	substring(intake_date, 1,2),\
	animal_type \
	order by substring(intake_date, 7,4),\
	substring(intake_date, 1,2) ,\
	animal_type and animal_type = 'Cat'", con=engine)
bymontyr.head()

In [ ]:
bymontyr.set_index('animal_type')

In [ ]:
bymontyr.plot.line( legend = True, figsize = (20,7))